* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

image {
    display: block;
}

#flagpole-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

#flag-image {
    position: absolute;
    bottom: -3%;
    left: 52%;
    width: 8%;
    height: auto;
    object-fit: contain;
}

#fluttering-flag-image {
    position: absolute;
    bottom: 10%;
    left: 52%;
    width: 40%;
    height: auto;
    object-fit: contain;
    opacity: 0;
}
