* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

#pet-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
}

canvas {
    display: block;
}
